{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="nine columns">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/back.svg') }}" width="16" height="16">
            Назад
        </a>
    </div>
</div>
<div class="row">
    <div class="nine columns">
        <a href="{{ url_for('generate_doc', document_id = document.id) }}">
            <img src="{{ url_for('static', filename='images/doc.svg') }}" width="16" height="16">
            Сформировать отчет
        </a>
    </div>
</div>
<div class="row">
    <div class="nine columns">
        <a href="{{ url_for('document_performers', document_id = document.id) }}">
            Исполнители
        </a>    
    </div>
</div>

<form action="" method="post">
    <div class="row">
        <div class="nine columns">
            <h4>Поля документа</h4>
        </div>
    </div>
    <div class="row">
        {{ document_form.number.label(class="three columns") }}
        {{ document_form.number(class="six columns")}}
        {% for error in document_form.number.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="row">
        {{ document_form.customer.label(class="three columns") }}
        {{ document_form.customer(class="six columns")}}
        {% for error in document_form.customer.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    {% for group in groups %}
        <details>
            <summary><b>{{ group.name }}</b></summary>
            {{ group.comment|safe }}
        {% for field in fields %}
            {% if group.id==field.group_id %}
                <div class="row">
                    <div class="nine columns">{{ field.comment|safe }}</div>
                </div>
                <div class="row">
                    <div class="three columns">
                        {{ field.name }}
                    </div>
                    <input type="text" class="six columns" name="{{ field.alias }}" value="{{ field.value }}">
                </div>
            {% endif %}  
        {% endfor %} 
        </details>
    {% endfor %}
    <div class="row">
        <div class="nine columns">
            {{ document_form.submit(class="button-primary") }}
        </div>
    </div>
</form>
{% endblock %}