{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="nine columns">
        <a href="{{ url_for('templates') }}">
            <img src="{{ url_for('static', filename='images/back.svg') }}" width="16" height="16">
            Назад
        </a>
    </div>
</div>
<br>
<h3>{{ template.id }} {{ template.name }}</h3>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="nine columns">
            {{ form.name.label }}
            {{ form.name(size=50, class="u-full-width")}}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="nine columns">
            {{ form.status.label }}
            {{ form.status(class="u-full-width")}}
            {% for error in form.status.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="nine columns">
            {% if template.file_name == '' %}
                {{ form.template_file.label }}
                {{ form.template_file(class="u-full-width")}}
                {% for error in form.template_file.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if template.file_name != '' %}
        <div class="row">
            <div class="nine columns">
                <a href="{{ url_for('download_template', filename = template.file_name) }}">
                    <img src="{{ url_for('static', filename='images/edit.svg') }}" width="16" height="16">
                    Открыть
                </a>
                <a href="{{ url_for('delete_template_file', template_id = template.id, filename = template.file_name) }}">
                    <img src="{{ url_for('static', filename='images/edit.svg') }}" width="16" height="16">
                    Удалить файл
                </a>
            </div>
        </div>
    {% endif %}
    <br>
    <div class="row">
        <div class="nine columns">
            <a href="{{ url_for('add_group', template_id = template.id) }}">
                <img src="{{ url_for('static', filename='images/add.svg') }}" width="16" height="16">
                Добавить раздел
            </a>
        </div>
    </div>
    <div class="row">   
        <div class="ten columns">
            <table class="u-full-width no-border">
                <caption>Поля шаблона</caption>
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Поле</th>
                        <th>Алиас</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td colspan="3"><h3>{{ group.name }}</h3></td>
                            <td>
                                <a href="{{ url_for('group', template_id = template.id, group_id = group.id) }}">
                                    <img src="{{ url_for('static', filename='images/edit.svg') }}" width="16" height="16">
                                    Открыть
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('delete_group', template_id = template.id, group_id = group.id) }}">
                                    <img src="{{ url_for('static', filename='images/delete.svg') }}" width="16" height="16">
                                    Удалить
                                </a>
                            </td>
                        </tr>
                        {% for field in fields %}
                            {% if group.id==field.group_id %}
                                <tr>
                                    <td>{{ field.index }}</td>
                                    <td>{{ field.name }}</td> 
                                    <td>{{ field.alias }}</td> 
                                    <td>
                                        <a href="{{ url_for('field', template_id = template.id, field_id = field.id) }}">
                                            <img src="{{ url_for('static', filename='images/edit.svg') }}" width="16" height="16">
                                            Открыть
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url_for('delete_field', template_id = template.id, field_id = field.id) }}">
                                            <img src="{{ url_for('static', filename='images/delete.svg') }}" width="16" height="16">
                                            Удалить
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}  
                        {% endfor %} 
                        <tr>
                            <td colspan="5">
                                <a href="{{ url_for('new_field', template_id=template.id, group_id=group.id) }}">
                                    <img src="{{ url_for('static', filename='images/add.svg') }}" width="16" height="16">
                                    Добавить поле
                                </a>
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="nine columns">
            {{ form.submit(class="button-primary") }}
        </div>
    </div>
</form>
{% endblock %}